@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #E9FC87; /* Verde neón */
    --color-background: #262626; /* Gris oscuro */
    --color-contrast: #F2F2F2; /* Blanco */
    --color-accent: #BCB4FF; /* Violeta claro */
    --font-family: 'Inter', sans-serif;
  }

  html {
    font-family: var(--font-family);
  }

  body {
    @apply bg-background text-contrast m-0 p-0;
  }

  a {
    @apply text-primary no-underline;
  }

  a:hover {
    @apply text-accent;
  }

  button {
    @apply font-sans bg-primary text-background border-none px-4 py-2 rounded cursor-pointer transition-colors duration-300;
  }

  button:hover {
    @apply bg-accent;
  }

  input,
  select {
    @apply font-sans bg-contrast text-background border border-primary px-2 py-2 rounded;
  }

  input:focus,
  select:focus {
    @apply outline-none border-accent ring-2 ring-accent;
  }
}
